.vscode
node_modules
package-lock.json
dw.json
cartridges/int_mercadopago/cartridge/static/default/js/*.js
cartridges/int_mercadopago/cartridge/static/default/js/*.map
cartridges/int_mercadopago/cartridge/static/default/css/*.css
.idea
cartridges/app_storefront_base
cartridges/modules
metadata.zip
test-results/
.DS_Store
**/.DS_Store
