@font-face {
  font-family: "Proxima Nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff2") format("woff2");
}

:root {
  --text-andes-text-color-primary: #000000E5;
  --text-andes-text-color-secondary: #737373;
  --all-andes-gray-550-solid: #737373;
  --all-andes-gray-040-solid: #F5F5F5;
  --mp-custom-font: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --mp-custom-font-semibold: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
}

.box {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  height: 100%;
  width: 100%;
}

.box ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  height: 75px;
  margin: 0;
}

.box li {
  display: block;
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
  line-height: 20px;
  float: left;
  height: 100%;
}

.row-title {
  padding: 10px 46px;
  text-align: center;
}

.row-title-2 {
  margin: 40px 32px 40px;

  h3 {
    font-family: var(--mp-custom-font-semibold);
    margin: 0;
  }
}

.row-subtitle {
  margin-bottom: 24px;
  text-align: center;
}

.row-payments {
  min-height: 185px;
}

.row-payments-2 {
  min-height: 95px;
}

.row-payments p {
  margin: 0 0 10px;
}

.row-steps {
  display: flex;
  text-align: left;
  margin-right: 40px;
}

.row-footer {
  padding: 10px 46px;
  text-align: center;
  background-color: #F5F5F5;
}

.row-footer img {
  width: 20px;
  height: 13.84px;
}

.steps {
  margin-left: 40px;
  display: flex;
  overflow: hidden;
  padding-inline-start: 0px !important;
  margin-bottom: 16px;
}

.step-number {
  width: 12px;
  white-space: nowrap;
  float: left;
  color: #3483FA;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;

}

.step-text {
  margin-left: 8px;
}

.row-info {
  margin-bottom: 8px;
  height: 16px;
  display: block;
  overflow: hidden;
  padding-inline-start: 0px !important;
}

.info-lock-icon {
  float: left;
  width: 20px;
  line-height: 100%;
  display: flex;

  img {
    width: 100%;
    margin-bottom: 5px;
  }
}

.info-text {
  font-size: 12px;
  font-family: var(--mp-custom-font);
  font-weight: 400;
  line-height: 16px;
  color: #0000008C;
  height: fit-content;

  p {
    margin: 0;
  }

}

.box-img {
  padding: 10px 10px 0 10px;
  list-style: none;
}

.box-steps {
  padding: 0px 0px 24px 0px;
  position: relative;
  display: inline-block;
}

.mb-img {
  margin-bottom: 2px;
}

.img-pix {
  padding-top: 4px;
}

.box-info {
  text-align: left;
  //height: 71px;
  border-radius: 6px;
  gap: 8px;
  padding: 16px 40px 16px 40px;
  background-color: var(--all-andes-gray-040-solid, #F5F5F5);
  margin-top: 24px;
  margin-bottom: 16px;
}

.mini-box {
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding: 10px 6px;
  margin-bottom: 0;
  min-height: 30px;
  margin-left: 10px !important;
}

.mini-box-2 {
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding: 10px 6px;
  margin-bottom: 0;
  margin-left: 10px !important;

}

.span11 {
  width: 29%;
  font-family: var(--mp-custom-font);
  font-size: 11px;
  box-sizing: border-box;
  min-height: 70px;
  margin-left: 2%;
}

.span12 {
  font-family: var(--mp-custom-font);
  font-size: 12px;
  width: 100%;
  margin: 0;
  margin-bottom: 1%;
}

.span12-info {
  color: var(--all-andes-gray-550-solid, #737373);
  font-family: var(--mp-custom-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  /* 125% */
  margin-bottom: 0;
  padding-left: 16px;
}

.span12-info-chopro {
  color: var(--all-andes-gray-550-solid, #737373);
  font-family: var(--mp-custom-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  /* 125% */
  margin-bottom: 0;
}

.span14 {
  color: var(--text-andes-text-color-secondary);
  font-family: var(--mp-custom-font);
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  /* 128.571% */
  margin-bottom: 0 !important;
}

.semi-bold {
  font-family: var(--mp-custom-font-semibold);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.span15 {
  width: 100%;
  font-family: var(--mp-custom-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.span18 {
  color: var(--text-andes-text-color-primary, rgba(0, 0, 0, 0.90));
  text-align: center;
  /* Body/L */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 122.222% */
}

.span18-semi-bold {
  color: var(--text-andes-text-color-primary, rgba(0, 0, 0, 0.90));
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 125% */
  white-space: pre-line;
}

.span14-fintoc {
  color: #0000008C;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  /* 128.571% */
  margin-bottom: 0 !important;
}

.fintoc-tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.fintoc-tab-text-container {
  max-width: 90px;
  height: 30px;
  display: inline-block;
  text-align: left;
}

.fintoc-tab-text {
  line-height: 15px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
}

.row-steps-fintoc {
  text-align: left;
}

.payment-form-fields-fintoc {
  background-color: #FFFFFF;
}

.box-fintoc {
  background-color: #FFFFFF;
}

.fintoc-content-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row-fintoc-title {
  h1 {
    font-family: "Proxima Nova", sans-serif;
  }
}

.fintoc-title {
  color: var(--text-andes-text-color-primary, rgba(0, 0, 0, 0.90));
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 125% */
  white-space: pre-line;
}

.steps-fintoc {
  display: flex;
  overflow: hidden;
  padding-inline-start: 0px !important;
  align-items: center;
}

.custom-list-fintoc {
  display: flex !important;
  margin: 0 !important;
  padding: 0 !important;
  flex-direction: column;
  gap: 24px;
  height: auto !important;
}

.step-number-fintoc {
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #3753ff;
  background-color: rgba(55, 83, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.step-text-fintoc {
  font-family: "Proxima Nova", sans-serif;
  margin-left: 12px;
  line-height: 30px;
}

.fintoc-payments {
  display: flex;
  justify-content: center;
  height: 24px;
}

.list-payments-fintoc {
  display: flex !important;
  list-style: none;
  gap: 8px;
  height: 24px !important;
  padding: 0 !important;

  li img {
    width: 32px;
    height: 24px;
  }
}

.box-info-fintoc {
  text-align: center;
  height: 47px;
  gap: 8px;
  padding: 16px 0 16px 0;
  background-color: var(--all-andes-gray-040-solid, #F5F5F5);
}

.info-text-fintoc {
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #0000008C;
  height: 15px;
}

.span24 {
  color: var(--text-andes-text-color-primary, #0000008C);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 125% */
  white-space: pre-line;
}


.margin-first {
  margin-left: 17% !important;
}

.margin-l {
  margin-left: 10px !important;
}

.custom-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100% !important;
  padding-inline-start: 0 !important;

  li {
    margin: 0;
  }
}

#fintoc-flags {
  display: flex;
  justify-content: center;
  width: 272px;
  height: 24px;
  padding: 0 !important;
  margin-bottom: 40px;
}

.list-payments {
  margin-left: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

@media (max-width: 1000px) {
  .steps {
    margin-left: 20px;
  }

  .span14 {
    padding-left: 0;

  }

  .step-text {
    margin-left: 8px;
  }

  .box .box-img {
    padding: 0px 10px;
    height: auto;
  }

  .box .margin-l {
    margin-left: 0px !important;
  }

  .box .mini-box {
    margin-top: 10px;
    display: block;
    width: 100%;
    float: none;
    height: 75px;
    margin-left: 0px !important;

  }

  .box .mini-box-2 {
    margin-top: 10px;
    display: block;
    width: 100%;
    float: none;
    height: 75px;
    margin-left: 0px !important;

  }

  .box .row-title {
    padding: 10px 16px;
  }

  .box .row-footer {
    padding: 10px 0px;
  }

  .row-steps {
    text-align: left;
    margin-right: 20px;
  }

  .row-steps-fintoc {
    text-align: left;
  }

  .box-info {
    padding: 16px 20px 16px 20px;
    height: 87px;
  }

  .row-title-2 {
    margin: 40px 20px 32px 20px;
  }

  .fintoc-content-section {
    padding: 40px 20px;
  }

  .row-fintoc-title {
    display: flex;
  }

  .fintoc-title {
    margin-bottom: 0px;
    text-align: left;
  }

  .steps-fintoc {
    align-items: none;
    margin-left: 0px;
    align-items: normal;
  }

  .fintoc-payments {
    margin-left: 20px;
    margin-right: 20px;
  }

  .list-payments-fintoc {
    flex-wrap: wrap;
    width: 100%;
  }

  .box-info-fintoc {
    padding: 16px 20px;
    height: 62px;
    text-align: left;
    margin-top: 24px;
  }
}

.pix-info {
  padding-top: 15px;
}

.info-detail {
  color: #bababa;
  padding-left: 25px;

  &:before {
    content: "ⓘ";
    display: inline-block;
    width: 25px;
    margin-left: -25px;
  }
}

// 3ds modal

.three-ds-modal-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;

  .three-ds-modal {
    display: flex;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    text-align: center;
    max-height: fit-content;
    max-width: fit-content;
    padding: 0;
    justify-content: center;
    align-items: center;

    .loading-area {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 23px;
      flex-shrink: 0;
      align-self: stretch;
      width: 800px;
      max-width: 800px;
      max-height: 471px;
      padding: 45px 48px 152px;
      justify-content: flex-start;
      align-items: center;

      .modal-button-area {
        display: flex;
        width: 704px;
        height: 274px;
        justify-content: flex-end;

        .modal-button-container {
          display: flex;
          padding: 10px 0 9px;

          .modal-button-close {
            display: flex;
            border: 0;
            background: unset;
            margin: 0;
            padding: 0;
          }

          .modal-close-icon {
            display: block;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
          }

          .modal-close-icon-mobile {
            display: none;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
          }
        }

      }

      .loading-container {
        display: flex;
        flex-direction: row;
        width: 503px;
        height: auto;
        justify-content: center;
        padding: 32px;
        border-radius: 6px;
        margin: 0 160px 0 137px;

        .loading-challenge {
          width: 439px;
          height: 202px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .loading-image {
            width: 80px;
            height: 80px;
            padding: 8px;
            gap: 8px;

            .loading-image-image {
              width: 64px;
              height: 64px;
              animation: spin 1s linear infinite;
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: flex;
            }

            @keyframes spin {
              0% {
                transform: translate(-50%, -50%) rotate(0deg);
              }

              100% {
                transform: translate(-50%, -50%) rotate(360deg);
              }
            }

          }

          .loading-message {
            display: flex;
            padding-top: 30px;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            align-self: stretch;

            .loading-message-info {
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
              width: 100%;
              padding: 0 0 0 0;
              margin: 0 0 0 0;
            }

            .loading-message-confirmation {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              width: 100%;
              padding: 0 0 0 0;
              margin: 0 0 0 0;
            }
          }

        }

      }
    }

    .validation-area {
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: fit-content;
      max-width: 1050px;
      padding: 45px 48px 62px;
      align-items: flex-start;
      gap: 32px;
      flex-shrink: 0;
      align-self: stretch;

      .slds-modal__header {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        align-self: stretch;
        gap: 16px;
        width: 954px;
        height: auto;

        .modal-header {
          display: flex;
          width: 100%;
          height: auto;
          border: 0;
          padding: 0;
          gap: 8px;

          .slds-modal__title {
            display: flex;
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
            width: 100%;
            margin: 0;
          }

          .modal-button-close {
            display: flex;
            border: 0;
            background: unset;
            padding: 10px 0 9px;
            width: 16px;
            height: 35px;

            .modal-close-icon {
              width: 16px;
              height: 16px;
              flex-shrink: 0;
            }

            .modal-close-icon-mobile {
              display: none;
              width: 16px;
              height: 16px;
              flex-shrink: 0;
            }
          }
        }

        .modal-info-box {
          display: flex;
          flex-direction: row;
          background-color: rgba(0, 0, 0, 0.04);
          border-radius: 6px;
          gap: 12px;
          width: 954px;

          .blue-bar {
            background-color: #3483FA;
            border-radius: 6px 0 0 6px;
            width: 4px;
            align-self: stretch;
          }

          .modal-info-box-row {
            display: flex;
            flex-direction: row;
            padding: 16px 0 14px;
            align-items: flex-start;
            flex: 1 0 0;
            gap: 16px;

            .modal-info-box-logo {
              width: 16px;
              height: 16px;
              justify-content: center;
              align-items: center;
            }

            .modal-info-box-info {
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
            }
          }
        }
      }

      .iframe-div {
        min-width: 600px;
        min-height: 500px;
        width: 954px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        .iframe-container {
          min-width: 600px;
          min-height: 500px;
          width: 854px;
          height: fit-content;
          flex-shrink: 0;
        }
      }

    }

    .confirmation-area {
      display: flex;
      flex-direction: row;
      width: 1050px;
      height: 603px;
      justify-content: center;
      align-items: center;

      .confirmation-container {
        display: flex;
        width: 416px;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;

        .loading-image-row {
          width: 80px;
          height: 80px;
          padding: 8px;
          gap: 8px;

          .loading-confirmation-image {
            width: 64px;
            height: 64px;
            animation: spin 1s linear infinite;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
          }

          @keyframes spin {
            0% {
              transform: translate(-50%, -50%) rotate(0deg);
            }

            100% {
              transform: translate(-50%, -50%) rotate(360deg);
            }
          }
        }

        .loading-confirmation-message {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          gap: 12px;
          padding-top: 30px;

          .loading-confirmation-message-info {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
          }
        }
      }
    }

  }
}

// end off 3ds modal

// methods off

#methods-off-title {
  justify-content: center;
}

#methods-off-title li {
  list-style-type: none;
}

.methods-off-tab {
  line-height: 15px;
  padding: 6px 16px 3px;
}

.methods-off-tab p {
  margin: 0;
  font-size: 12px;
  font-family: var(--mp-custom-font);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

#methods-off-title .row-title {
  font-size: 20px;
  font-family: var(--mp-custom-font);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 0;
}

#methods-off-title .row-subtitle {
  font-size: 16px;
  font-family: var(--mp-custom-font);
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
}

.methods-off-places {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.methods-off-places-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 14px 0 14px 12px;
  width: 50%;
  gap: 16px;
}

.payment-methods-off-input img {
  padding: 10px 16px;
}

.methods-off-places-option label {
  font-size: 16px;
  font-family: var(--mp-custom-font);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  margin: 0;
}

#methods-off-options-more {
  color: #3483FA;
  float: right;
}

#methods-off-options-more p {
  margin: 0;
}

.methods-off-invoice-button {
  margin-top: 20px !important;
}

#methods-off-options-error {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 1rem 0 0;
}

#methods-off-options-error img {
  width: 16px;
}

#payment-methods-off-checked-invalid-message {
  width: auto;
}

// end of methods off

// ChoPro
.checkout-pro-tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.checkout-pro-tab-text {
  line-height: 15px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.row-title-cho-pro {
  padding: 40px 20px 32px;
  text-align: center;
}

.span15-cho-pro {
  font-family: var(--mp-custom-font-semibold);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  margin-bottom: 0;
}

.row-payments-cho-pro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#cho-pro-box-image {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin-bottom: 32px;
}

.mini-box-cho-pro {
  display: flex !important;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: auto;
  width: 233px;
  margin: 0 !important;
  padding: 0;
  gap: 8px;
  text-align: left;
  border: none;

  p {
    margin-bottom: 0;
  }
}

.cho-pro-icons {
  img {
    margin-top: 2px;
    height: 16px;
    width: 16px;
  }

  display: flex;
}

.span11-cho-pro {
  font-family: var(--mp-custom-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.55);
}

#cho-pro-box-flags {
  display: flex;
  justify-content: center;
  width: 272px;
  height: 24px;
  padding: 0 !important;
  margin-bottom: 40px;
  gap: 8px;
}

.cho-pro-options {
  border: none;
}

.checkout-pro-content {
  background-color: #ffffff;
}

.cho-pro-box {
  background-color: #ffffff;
}

.cho-pro-flags {
  img {
    height: 24px;
  }

  padding: 0;
}

.cho-pro-footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
  border-radius: 0;
}

.row-info-cho-pro {
  height: auto;
  max-width: 432px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  .span12-info {
    padding-left: 0;
    font-family: var(--mp-custom-font-semibold);
  }

  img {
    width: 100%;
    margin: 0;
  }
}

.info-lock-icon {
  float: left;
  width: 20px;
  line-height: 100%;

  img {
    width: 100%;
    margin-bottom: 0;
  }
}

.span11-cho-pro-footer {
  font-family: var(--mp-custom-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}

// end of ChoPro

// credits
.checkout-credits-tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.checkout-credits-tab-text {
  line-height: 15px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.checkout-credits-content {
  background-color: #ffffff;
}

.credits-box {
  background-color: #ffffff;

  .row-title-2 {
    margin-left: 40px;
    margin-bottom: 32px;
  }
}

.credits-footer {
  border-radius: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;


  .row-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: auto;
    margin: 0;
  }
  
  .span12-info {
    font-family: var(--mp-custom-font-semibold);
  }
  
  .info-lock-icon {
    margin-right: 0;
  }

  p {
    padding-left: 0;
  }
}

// css Tax Info

.mp-tax-info {
  display: none;
  flex-direction: row;
  margin-top: 8px;
  margin-left: 6px;
  color: #737373;
}

.text-tea {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #737373;
}

.text-tna {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #737373;
}

.text-cft {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
  color: #737373;
}

.text-tea:not(:empty)::before,
.text-tna:not(:empty)::before {
  content: "-";
  margin: 0 6px;
}

// end css Tax Info

@media (max-width: 1000px) {
  .steps {
    margin-left: 20px;
  }

  .span14 {
    padding-left: 0;

  }

  .step-text {
    margin-left: 8px;
  }

  .box .box-img {
    padding: 0px 10px;
    height: auto;
  }

  .box .margin-l {
    margin-left: 0px !important;
  }

  .box .mini-box {
    margin-top: 10px;
    display: block;
    width: 100%;
    float: none;
    height: 100%;
    margin-left: 0px !important;

  }

  .box .mini-box-2 {
    margin-top: 10px;
    display: block;
    width: 100%;
    float: none;
    height: 100%;
    margin-left: 0px !important;

  }

  .box .row-title {
    padding: 10px 16px;
  }

  .box .row-footer {
    padding: 10px 0px;
  }

  .row-steps {
    text-align: left;
    margin-right: 20px;
  }

  .box-info {
    padding: 16px 20px 16px 20px;
    height: fit-content;
  }

  .row-title-2 {
    margin: 40px 20px 32px 20px;
  }

  .credits-box {
    .row-title-2 {
      margin-left: 20px;
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 472px) {

  .three-ds-modal-box {
    .three-ds-modal {

      .loading-area {
        display: flex;
        width: 312px;
        height: fit-content;
        padding: 0 24px 24px;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;

        .modal-button-area {
          width: 0;
          height: 0;

          .modal-button-container {
            position: absolute;
            padding: 0;
            top: -32px;
            left: 296px;

            .modal-close-icon {
              display: none;
              width: 16px;
              height: 16px;
              flex-shrink: 0;
            }

            .modal-close-icon-mobile {
              display: block;
              width: 16px;
              height: 16px;
              flex-shrink: 0;
            }
          }
        }

        .loading-container {
          width: 100%;
          padding: 32px;
          margin: 0;

          .loading-challenge {
            width: 100%;
            height: auto;

            .loading-image {

              .loading-image-image {
                width: 48px;
                height: 48px;
              }
            }

            .loading-message {
              padding-top: 24px;

              .loading-message-info {
                font-size: 20px;
                line-height: 25px;
              }

              .loading-message-confirmation {
                font-size: 14px;
                line-height: 18px;
              }
            }

          }

        }
      }

      .validation-area {
        width: 100%;
        height: 100%;
        padding: 0 20px 0 10px;
        gap: 0;

        .slds-modal__header {
          width: 100%;
          height: fit-content;
          padding: 10px 0px 10px 10px;
          display: flex;
        }

        .modal-header {
          width: 90% !important;
          padding: 0px 0 10px 0px !important;
        }

        .slds-modal__title {
          height: fit-content;
          font-size: 20px !important;
          line-height: 24px !important;
          text-align: left;
        }

        .modal-button-close {
          position: absolute;
          padding: 28px !important;
          top: 0;
          right: 0;
          align-items: center;
          justify-content: center;
        }

        .modal-close-icon {
          display: block;
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }

        .modal-close-icon-mobile {
          display: none;
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }

        .modal-info-box {
          margin: 0 0 10px;
          width: 100% !important;
        }

        .blue-bar {
          height: auto !important;
        }

        .modal-info-box-row {
          align-items: center !important;
        }

        .modal-info-box-logo {}

        .modal-info-box-info {
          text-align: start;
        }

        .iframe-div {
          width: 100%;
          display: flex;
          align-items: flex-start !important;
          justify-content: flex-start !important;
          text-align: start;

          .iframe-container {
            width: 100%;
          }
        }
      }

      .confirmation-area {
        display: flex;
        width: 312px;
        height: fit-content;
        padding: 0 24px 24px;
        gap: 12px;
        flex-direction: column;
        justify-content: flex-start;

        .confirmation-container {
          display: flex;
          padding: 32px;
          width: 100%;

          .loading-image-row {
            display: flex;
            flex-direction: column;
            padding: 0 60px;
            align-items: center;

            .loading-image {
              display: flex;
              padding: 8px;
              margin: 8px;

              .loading-confirmation-image {
                display: flex;
                width: 48px;
                height: 48px;
              }
            }
          }

          .loading-confirmation-message {
            .loading-confirmation-message-info {
              font-size: 20px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  .methods-off-places-option {
    width: 100%;
  }


  .row-payments-cho-pro {
    padding: 0 20px;
    justify-content: flex-start;
  }

  #cho-pro-box-flags {
    justify-content: flex-start;
  }

  #cho-pro-box-image {
    flex-direction: column;
    padding: 0;
  }

  .span15-cho-pro {
    text-align: left;
  }

  .mini-box-cho-pro {
    height: auto !important;

    p {
      margin: 0;
    }
  }

  .cho-pro-footer {
    align-items: flex-start;
  }
}